*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'josefin sans', sans-serif;
    text-decoration: none;
}
.teams{
    position: relative;
    width: 100%;
    height: 100vh;
    background: radial-gradient(#281c3e,#0f051d);
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.team-contact{
    width:100%;
    max-width: 1350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,auto));
    align-items: center;
    gap:2rem;
    text-align: center;
    margin-top: 4rem;

}
.team-contact img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 15px;

}
.center h1{
    color:#fff;
    font-size: 4rem;
    text-align: center;
}
.box{
    padding: 16px;
    background: #1b1229;
    border-radius: 15px;
    transition: all .38s ease;
}
.box h3{
    font-size: 23px;
    font-weight: 600;
    color:#fff;
    margin-bottom: 8px;
    letter-spacing: 2px;
     
}
.icons i{
    display: inline-block;
    color: #fff;
    font-size: 20px;
    margin: 0 8px;
    transition: all .38s ease;

}
.icons i:hover{
    transform: scale(1.2);
}
.box:hover{
    transform: translateY(-10px);
    cursor: pointer;

}


